<!DOCTYPE html>
<html>
	<head>
		<title>Optimist</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
  	</head>

  	<body>
		<nav class="navbar bg-navbar mb-3">
			<div class="container-fluid">
				<div class="col-6">
		    	<%= link_to "Optimist", root_path, class: "navbar-brand" %>
		    	</div>

		    	<% if !user_signed_in? %>
		    	<div class="col-6 text-end nav-buttons">
		    		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-navbar-signup" %>
		    		<%= link_to "Log In", new_user_session_path, class: "btn btn-navbar" %>
		    	</div>
		    	<% else %>
		    	My Account
		    	<% end %>
			</div>
		</nav>
	
		<div class="container-fluid">
		<% if !notice.nil? %><p class="alert alert-info"><%= notice %></p><% end %>
		<% if !alert.nil? %><p class="alert alert-warning"><%= alert %></p><% end %>
		<%= yield %>
		</div>
  	</body>
</html>
